.display{
    display: flex;
    flex-direction: column;
}
.mrgRt{
    margin-right: 5px;
}
.mrgBtm{
    margin-top: 10px;
}
.errorStyle{
    font-size: 10px;
}
.borderRadius{
    border-radius: 4px;
}